<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="css/details.css">
  <link rel="stylesheet" href="css/commen.css">
</head>
<body>
<header id="header"></header> 
<!-- 上部 -->
<div class="content">
  <ul class="list">
    <li>
      <a href=""><img src="image/details/25275_thumb_G_1526459775287.jpg" alt="" title="伊利牛奶片160g/盒" class="list-img"></a>
      <div class="lineg">
        <a href="" class="lineg-li All">伊利牛奶片160g</a>
        <p class="tails">
          <span class="lineg-go">￥25.00</span>
          <span class="list-zing Allsi1">赠</span>
          <span>0.17</span>
        </p>
        <button class="butt .allsi1">立即购买</button>
      </div>
    </li>
    <li>
      <a href=""><img src="image/details/25276_thumb_G_1526459798527.jpg" alt="" title="伊利牛奶片160g/盒" class="list-img"></a>
      <div class="lineg">
        <a href="" class="lineg-li All">伊利牛奶片160g</a>
        <p class="tails">
          <span class="lineg-go">￥25.00</span>
          <span class="list-zing Allsi1">赠</span>
          <span>0.17</span>
        </p>
        <button class="butt allsi1">立即购买</button>
      </div>
    </li>
    <li>
      <a href=""><img src="image/details/25277_thumb_G_1526459819544.jpg" alt="" title="伊利牛奶片160g/盒" class="list-img"></a>
      <div class="lineg">
        <a href="" class="lineg-li All">伊利牛奶片160g</a>
        <p class="tails">
          <span class="lineg-go">￥25.00</span>
          <span class="list-zing Allsi1">赠</span>
          <span>0.17</span>
        </p>
        <button class="butt .allsi1">立即购买</button>
      </div>
    </li>
  </ul>
  <!-- 导航 -->
  <div class="page">
    <a href="">首页</a>
    <span>></span>
    <span>食品饮料</span>
  </div>
  <!-- 品牌导航 -->
  <div class="brand All">
    <div class="barng .allsi1">品牌</div>
    <div class="show-con Allsi">
      <!-- 单选 -->
      <div class="show-con1" id="bacon">
        <a href="">金品福</a>
        <a href="">品尼家</a>
        <a href="">天喔</a>
        <a href="">三只松鼠</a>
        <a href="">徐福记</a>
        <a href="">海牌</a>
        <a href="">脉动</a>
        <a href="">好丽友</a>
        <a href="">五芳斋</a>
        <a href="">稻香村</a>
        <a href="">西域美农</a>
        <a href="">甘源</a>
        <a href="">Aji</a>
        <a href="">张君雅小妹妹</a>
        <a href="">三养</a>
        <a href="">煌上煌</a>
        <a href="">达利园</a>
        <a href="">妮维雅</a>
        <a href="">立顿</a>
        <a href="">张飞</a>
        <a href="">白家陈记</a>
        <a href="">奥利奥</a>
        <a href="">友臣</a>
        <a href="">合昌轩</a>
        <a href="">崇华</a>
        <a href="">百草味</a>
        <a href="">诚可成</a>
        <a href="">zek</a>
        <a href="">果果先森</a>
        <a href="">阿里山</a>
        <a href="">卫龙</a>
        <a href="">北漠果业</a>
        <a href="">火宫殿</a>
        <a href="">凌云祥</a>
        <a href="">螺霸王</a>
        <a href="">腊边香</a>
        <a href="">英天</a>
        <a href="">广御园</a>
        <a href="">味滋源</a>
        <a href="">金龙鱼</a>
        <a href="">欧丽薇兰</a>
        <a href="">香满园</a>
        <a href="">鲁花</a>
        <a href="">康师傅</a>
        <a href="">德芙</a>
        <a href="">阿尔卑斯</a>
        <a href="">士力架</a>
        <a href="">蜀道香</a>
        <a href="">金宏林</a>
        <a href="">久宏</a>
        <a href="">方家铺子</a>
        <a href="">百分果</a>
        <a href="">悦牧果</a>
        <a href="">乐食麦</a>
        <a href="">费列罗</a>
        <a href="">合众</a>
        <a href="">随缘</a>
        <a href="">乔伊尔</a>
        <a href="">乐事</a>
        <a href="">爱尚</a>
        <a href="">hamu</a>
        <a href="">皇冠</a>
        <a href="">锦大</a>
        <a href="">九日</a>
        <a href="">小老板</a>
        <a href="">雪之恋</a>
        <a href="">御之味</a>
        <a href="">农心</a>
        <a href="">菜家</a>
        <a href="">派米</a>
        <a href="">咪咪</a>
        <a href="">南国</a>
        <a href="">不二家</a>
        <a href="">fin肥腻</a>
        <a href="">焙朗</a>
        <a href="">春光</a>
        <a href="">三厨</a>
        <a href="">美食嘉</a>
        <a href="">上好佳</a>
        <a href="">三奥源</a>
        <a href="">拉菲</a>
        <a href="">劲仔</a>
        <a href="">健达</a>
        <a href="">洽洽</a>
        <a href="">口水娃</a>
        <a href="">董小姐</a>
        <a href="">优冠</a>
        <a href="">三运</a>
        <a href="">圭谷</a>
        <a href="">稼禾祥</a>
        <a href="">古船</a>
        <a href="">旺旺</a>
        <a href="">米老头</a>
        <a href="">真巧</a>
        <a href="">回头客</a>
        <a href="">VFOODS MIX</a>
        <a href="">牛葫芦</a>
        <a href="">比斯奇果屋</a>
        <a href="">福派园</a>
        <a href="">果子町园道</a>
        <a href="">十里古街</a>
        <a href="">TRUNG NGUYEN/中原</a>
        <a href="">金德福</a>
        <a href="">沈师傅</a>
        <a href="">亚细亚</a>
        <a href="">NISSIN/日清</a>
        <a href="">维维</a>
        <a href="">kaka/咔咔</a>
        <a href="">乖英雄</a>
        <a href="">克恩兹木</a>
        <a href="">爱迷芋</a>
        <a href="">新宜兴</a>
        <a href="">盛之禾</a>
        <a href="">克恩兹</a>
        <a href="">汤姆农场</a>
        <a href="">星巴克</a>
        <a href="">味百选</a>
        <a href="">维欧特</a>
        <a href="">盛香珍</a>
        <a href="">橘粒</a>
        <a href="">雀巢</a>
        <a href="">伊仕特</a>
        <a href="">安琪</a>
        <a href="">百钻</a>
        <a href="">芝焙</a>
        <a href="">果满家</a>
        <a href="">齐发果园</a>
        <a href="">太太</a>
        <a href="">开古</a>
        <a href="">花草之恋</a>
        <a href="">樱花</a>
        <a href="">韩丹</a>
        <a href="">治世本草</a>
        <a href="">丹顿</a>
        <a href="">沃隆</a>
      </div>
    </div>
    <div class="handle Allsi1">
      <div id="tab1">
        <span class="bacon tab" id="bacon1" style="display: block;">更多<span class="sp-icon"></span></span>
        <span class="bacon tab" id="bacon2" style="display: none;">收起<span class="sp-icon1 sp-icon"></span></span>
      </div>
    </div>
  </div>
 <div id="flens">
  <div class="conted">
    <div class="batn">
      <div class="fl">
        <span v-for="(elem,i) of tasks" :key="i" @click="chang(i)" v-bind:class="{clasrd:i==clab}">{{elem}}</span>
          <span>价格</span>
          <span class="flon1 flong"></span>
          <span class="flon2 flong"></span>
      </div>
      <div class="pages">
        <span class="buon buon-le"></span>
        <span class="ntext">1</span>
        <span>/</span>
        <span>3</span>
        <span class="buon buon-ri"></span>
      </div>
    </div>
  </div>
  <div id="blen">
    <ul class="mevie">
      <li id="lexin" v-for="(ling,i) of ht" :key="i">
        <a href=""><img :src="ling.d_pic" alt=""></a> 
        <div>
          <p class="give Allport">
            <span class="Allsi1 Allct"></span>
            <span class="list-zing Allsi1 geit-rg">赠</span>
            <span>0.29</span>
          </p>
          <p class="Allsi1 All Allport" v-text="ling.d_title"></p>
          <p class="Allsi All mat-t Allport" v-text="ling.d_product"></p>
          <div class="styn">
            <span class="Allsi1 Allon styn-un">
              <span class="sub-into"></span>
              收藏
            </span>
            <span class="stynle Allsi1">加入购物车</span>
          </div>
        </div>
        <a href=""></a>
      </li>
    </ul>
  </div>
</div>
<p style="clear: both;"></p>
</div>
 <footer id="footer"></footer>
 <script src="js/jquery-1.11.3.js"></script>
 <script src="js/header.js"></script>
 <script src="js/footer.js"></script>
 <script src="js/vue.js"></script>
 <script src="js/axios.min.js"></script>
 <script src="js/details.js"></script> 
 <script src="js/deajax.js"></script>
</body>
</html>